* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
  }
  header {
    padding: 20px 35px;
    background-color: #39a6b2;
  }
  header {
    padding: 20px;
  }
  header {
    padding: 20px 35px;
  }
  header {
    padding: 10px 15px 20px 25px;
  }
  header {
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 25px;
  }
  header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
  }
  header a {
    text-decoration: none;
    color: #fce138;
  }
  header nav {
    float: right;
    margin: 7px 0;
  }
  header nav ul li {
    display: inline;
  }
  header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
  }
  header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    display: inline;
  }
  footer {
    background: #fce138;
    width: 100%;
    padding: 40px 35px;
  }
  footer h2 {
    display: inline;
    color: #024e76;
    font-size: 30px;
    margin: 0;
  }
  footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
  }
  footer a {
    color: #024e76;
  }